aiogram
aiosqlite
aiohttp
google-genai
google-generativeai
deep_translator
Pillow
requests
aiofiles
beautifulsoup4
g4f[all]
duckduckgo_search
httpx
openai
anthropic
groq
python-dotenv
cachetools
PyMuPDF
python-docx
xlrd
openpyxl