aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiohttp_socks
aiosignal
aiosqlite
annotated-types
anyio
async-timeout
attrs
av
beautifulsoup4
blinker
blis
bottle
Brotli
browser-cookie3
cachetools
cairocffi
CairoSVG
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
coloredlogs
confection
cssselect2
ctranslate2
curl_cffi
cymem
DAWG-Python
defusedxml
Deprecated
distlib
distro
docx
duckduckgo_search
EbookLib
et_xmlfile
fastapi
faster-whisper
filelock
Flask
flatbuffers
frozenlist
fsspec
g4f[all]
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
googlesearch-python
groq
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
itsdangerous
jeepney
Jinja2
jiter
langcodes
language_data
libretranslatepy
lingua-language-detector
lxml
lz4
magic-filter
marisa-trie
markdown-it-py
MarkupSafe
mdurl
mpmath
mss
multidict
murmurhash
nest-asyncio
networkx
nodriver
numpy
odfpy
onnxruntime
openai
openpyxl
packaging
pillow
pkgconfig
platformdirs
plyer
preshed
primp
propcache
proto-plus
protobuf
proxy_tools
psutil
pyasn1
pyasn1_modules
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
Pygments
pymorphy3
pymorphy3-dicts-ru
PyMuPDF
pyparsing
PyPDF2
PySocks
python-dotenv
python-multipart
python-socks
pywebview
PyYAML
requests
rich
rsa
setuptools
shellingham
six
smart-open
smartg4f
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
starlette
sympy
thinc
tinycss2
tokenizers
tqdm
typer
typing_extensions
uritemplate
urllib3
uvicorn
virtualenv
virtualfish
wasabi
weasel
webencodings
websockets
Werkzeug
wrapt
yarl
python-docx 
openpyxl
xlrd  
olefile
cachetools
pydub